const element = document.querySelector("#form_comment");

 element.addEventListener("ajax:success", (event) => {
	$('#comment').append(`
		<div class="card bg-light my-2">
			<div class="card-body">
			  <strong class="card-title"><%= @comment.commenter %></strong>
			  <p><%= @comment.body %></p>
			  <p><%= link_to('Delete Comment', [@comment.post, @comment], method: :delete, data: {confirm: 'Are you sure?'})
    	%></p>
			</div>
		</div>
	`)
 	$('#comment_body').val('')
}); 

element.addEventListener("ajax:error", () => {
	element.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
});