<% if session[:userdata] %>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Exceltask</a>
      <%= form_with(url: '/posts', method: 'get', local: true, class: 'd-flex') do %>
        <%= text_field_tag(:search, "", class: "form-control me-2", placeholder: "Search") %>
        <a href="/users/<%= session[:userdata]["id"]%>" class="nav-link">Profile</a>
      <% end %>
    </div>
  </nav>
<% end %>