Generated on:
<%= Time.zone.now %>

<div class="container">
    <h1><%= @post.title %></h1>
    <p>Post ID: <%= @post.id %></p>

    <div class="card mx-auto">
        <div class="card-body">
            <p><%= @post.body %></p>
        </div>
    </div>
</div>